.list {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    list-style: none;
}

.item {
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
    background-color: rgb(238, 207, 172);
}

.positive {
    color: rgb(48, 81, 81);
}